.crypto_side_bar {
    min-width: 320px;
    background: #172060;
    margin-top: 142px;
    h2 {
        color: #FFFFFF;
        font-family: Poppins;
        font-weight: 500;
        font-size: 19.5px;
        line-height: 29px;
        margin-top: 20px;
        padding: 0px 0px 0px 24px;
    }
    ul {
        list-style-type: none;
        background: transparent;
        height: -webkit-fill-available;
        overflow-x: hidden;
        border: 0;
        div {
            p {
                margin: 0;
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 18.5px;
                line-height: 28px;
                color: #ffff;
            }
        }
    }
}
