App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sider_sidebar {
  height: -webkit-fill-available;
  .ant-menu {
    border: 0;
  }
  .ant-menu-item {
    height: 101px !important;
    color: #FFFFFF;
    font-family: Poppins;
    font-weight: 500;
    font-size: 18.5px;
    line-height: 28px;
  }
  .ant-menu-item::after {
    border-right: 0px !important;
  }
  
  .ant-menu-item:hover {
    background: #FFFFFF !important;
    color: #141D53 !important;
  }
  
  .ant-menu-item-selected {
    background: #FFFFFF !important;
    color: #141D53 !important;
  }
  
  .ant-layout-sider {
    width: 100% !important;
    min-width: 100% !important;
    background: transparent !important;
    height: calc(100% - 100px);
    overflow-y: auto;
  }
}

.sider_periodBar {
  width: 375px;
  height: 49px;
  .ant-layout-sider {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }
  .ant-menu {
    display: flex;
    width: 100%;
    background: linear-gradient(0deg, #EDEEF2, #EDEEF2);
    box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.1) !important;
    .ant-menu-item {
      margin-top: 0px !important;
      margin-bottom: 0px !important;
      .ant-menu-title-content {
        color: #101843 !important;
        font-family: Poppins;
        font-size: 19px;
        line-height: 28px;
      }
     }
     .ant-menu-item-selected {
      background: #FFFFFF !important;
      color: #1C3CCD !important;
    }
    .ant-menu-item::after {
      border-right: 0px !important;
    }
  }
}